.feedback{
    display: flex;
    width: 940px;
    margin: 70px auto 0;
    justify-content: space-between;
    .form{
        width: 460px;
    }
    .client{
        width: 350px;
    }
}

 .form{
    input[type="text"]{
        width: 460px;
        height: 45px;
        border: 1px solid #e5e5e5;
        margin: 20px 0;
        color: rgba(65, 61, 75, 255);
        padding-left: 20px;
    }

    textarea{
        margin: 20px 0;
        width: 460px;
        height: 200px;
        border: 1px solid #e5e5e5;
        resize: none;
        color: rgba(65, 61, 75, 255);
        padding: 20px 0 0 20px;
    }
    
    button{
        display: block;
        margin-bottom: 70px;
    }
}

.client{
    ul{
        display:flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 35px;
    }
    li{
        margin-bottom: 50px;
        width: 50%;
    
    &:nth-child(even) a{
        text-align: center;
        float: right;
        }
    }
}