
$activ-color: #00e0d0;

body{
    font: 14px/24px 'Roboto', sans-serif;
    color: #97949c;
}

.wrap-content{
    width: 940px;
	margin: 0 auto;
    h1{
        margin-top: 20px;
    }
}
.menu{
	display: flex;
	justify-content: space-between;
}

h1, h2, h3{
    font-family: 'Playfair Display', serif;
}
h3{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #413d4b;
}

h4{
    text-align: center;
}


a{
    color: #000;
    text-decoration: none;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.button{
	cursor: pointer;
	height:40px; 
	width:120px;
	color: $activ-color;
	border: 1px solid $activ-color;
    background-color: transparent;
    text-transform: uppercase;
}
